In [1]:
#Chargement du dataset
import pandas as pd
data=pd.read_parquet('E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Used Datasets/donnee-comm-data.gouv-parquet-2023-geographie2023-produit-le2024-03-07.parquet')
data

,CODGEO_2023,annee,classe,unité.de.compte,valeur.publiée,faits,tauxpourmille,complementinfoval,complementinfotaux,POP,millPOP,LOG,millLOG
0,01001,16,Coups et blessures volontaires,victime,ndiff,NaN,NaN,1.706093,1.533258,767,16,348.0,16
1,01001,16,Coups et blessures volontaires intrafamiliaux,victime,diff,0.0,0.000000,NaN,NaN,767,16,348.0,16
2,01001,16,Autres coups et blessures volontaires,victime,ndiff,NaN,NaN,1.413953,0.902696,767,16,348.0,16
3,01001,16,Violences sexuelles,victime,diff,0.0,0.000000,NaN,NaN,767,16,348.0,16
4,01001,16,Vols avec armes,infraction,diff,0.0,0.000000,NaN,NaN,767,16,348.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918875,97617,23,Vols dans les véhicules,véhicule,diff,19.0,1.363571,NaN,NaN,13934,17,3872.0,17
3918876,97617,23,Vols d'accessoires sur véhicules,véhicule,ndiff,NaN,NaN,2.733333,0.234555,13934,17,3872.0,17
3918877,97617,23,Destructions et dégradations volontaires,infraction,diff,91.0,6.530788,NaN,NaN,13934,17,3872.0,17
3918878,97617,23,Trafic de stupéfiants,Mis en cause,ndiff,NaN,NaN,2.500000,0.216122,13934,17,3872.0,17
3918879,97617,23,Usage de stupéfiants,Mis en cause,ndiff,NaN,NaN,7.142857,0.641816,13934,17,3872.0,17

In [2]:
#Suppression des données de 2016 et 2023
annees_a_supprimer = [16, 23]
data = data[~data['annee'].isin(annees_a_supprimer)]
data

,CODGEO_2023,annee,classe,unité.de.compte,valeur.publiée,faits,tauxpourmille,complementinfoval,complementinfotaux,POP,millPOP,LOG,millLOG
489860,01001,17,Coups et blessures volontaires,victime,ndiff,NaN,NaN,1.673835,1.493296,776,17,353.730435,17
489861,01001,17,Coups et blessures volontaires intrafamiliaux,victime,diff,0.0,0.000000,NaN,NaN,776,17,353.730435,17
489862,01001,17,Autres coups et blessures volontaires,victime,ndiff,NaN,NaN,1.469767,0.931236,776,17,353.730435,17
489863,01001,17,Violences sexuelles,victime,diff,0.0,0.000000,NaN,NaN,776,17,353.730435,17
489864,01001,17,Vols avec armes,infraction,diff,0.0,0.000000,NaN,NaN,776,17,353.730435,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3429015,97617,22,Vols dans les véhicules,véhicule,diff,9.0,0.645902,NaN,NaN,13934,17,3872.000000,17
3429016,97617,22,Vols d'accessoires sur véhicules,véhicule,ndiff,NaN,NaN,2.625000,0.226928,13934,17,3872.000000,17
3429017,97617,22,Destructions et dégradations volontaires,infraction,diff,75.0,5.382518,NaN,NaN,13934,17,3872.000000,17
3429018,97617,22,Trafic de stupéfiants,Mis en cause,ndiff,NaN,NaN,3.250000,0.280958,13934,17,3872.000000,17
3429019,97617,22,Usage de stupéfiants,Mis en cause,ndiff,NaN,NaN,3.928571,0.352999,13934,17,3872.000000,17

In [3]:
an = data['annee'].unique()
an

array([17, 18, 19, 20, 21, 22])

In [18]:
classe[12]

'Trafic de stupéfiants'

In [4]:
classe = data['classe'].unique()
classe

['Coups et blessures volontaires', 'Coups et blessures volontaires intrafamiliaux', 'Autres coups et blessures volontaires', 'Violences sexuelles', 'Vols avec armes', ..., 'Vols dans les véhicules', 'Vols d'accessoires sur véhicules', 'Destructions et dégradations volontaires', 'Trafic de stupéfiants', 'Usage de stupéfiants']
Length: 14
Categories (16, object): ['Homicides' < 'Coups et blessures volontaires' < 'Coups et blessures volontaires intrafamiliaux' < 'Autres coups et blessures volontaires' ... 'Destructions et dégradations volontaires' < 'Escroqueries' < 'Trafic de stupéfiants' < 'Usage de stupéfiants']

In [5]:
valeurs_a_supprimer = ["Destructions et dégradations volontaires", "Violences sexuelles", "Escroqueries", "Usage de stupéfiants", "Vols sans violence contre des personnes", "Autres coups et blessures volontaires", "Vols d'accessoires sur véhicules"]

In [6]:
data = data[~data['classe'].isin(valeurs_a_supprimer)]
data

,CODGEO_2023,annee,classe,unité.de.compte,valeur.publiée,faits,tauxpourmille,complementinfoval,complementinfotaux,POP,millPOP,LOG,millLOG
489860,01001,17,Coups et blessures volontaires,victime,ndiff,NaN,NaN,1.673835,1.493296,776,17,353.730435,17
489861,01001,17,Coups et blessures volontaires intrafamiliaux,victime,diff,0.0,0.000000,NaN,NaN,776,17,353.730435,17
489864,01001,17,Vols avec armes,infraction,diff,0.0,0.000000,NaN,NaN,776,17,353.730435,17
489865,01001,17,Vols violents sans arme,infraction,diff,0.0,0.000000,NaN,NaN,776,17,353.730435,17
489867,01001,17,Cambriolages de logement,infraction,ndiff,NaN,NaN,2.800725,6.699308,776,17,353.730435,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3429011,97617,22,Vols violents sans arme,infraction,diff,6.0,0.430601,NaN,NaN,13934,17,3872.000000,17
3429013,97617,22,Cambriolages de logement,infraction,diff,10.0,2.582645,NaN,NaN,13934,17,3872.000000,17
3429014,97617,22,Vols de véhicules,véhicule,diff,15.0,1.076504,NaN,NaN,13934,17,3872.000000,17
3429015,97617,22,Vols dans les véhicules,véhicule,diff,9.0,0.645902,NaN,NaN,13934,17,3872.000000,17
3429018,97617,22,Trafic de stupéfiants,Mis en cause,ndiff,NaN,NaN,3.250000,0.280958,13934,17,3872.000000,17

In [7]:
com = data['CODGEO_2023'].unique()
com

array(['01001', '01002', '01004', ..., '97615', '97616', '97617'],
      dtype=object)

In [8]:
colonnes = ['Code géographique', 'Coups et blessures volontaires', 'Cambriolages de logement', 'Vols de véhicules', 'Trafic de stupéfiants']
new_df = pd.DataFrame(columns=colonnes)

In [9]:
new_df

Empty DataFrame
Columns: [Code géographique, Coups et blessures volontaires, Cambriolages de logement, Vols de véhicules, Trafic de stupéfiants]
Index: []

In [10]:
new_df['Code géographique'] = com

In [11]:
new_df

,Code géographique,Coups et blessures volontaires,Cambriolages de logement,Vols de véhicules,Trafic de stupéfiants
0,01001,NaN,NaN,NaN,NaN
1,01002,NaN,NaN,NaN,NaN
2,01004,NaN,NaN,NaN,NaN
3,01005,NaN,NaN,NaN,NaN
4,01006,NaN,NaN,NaN,NaN
...,...,...,...,...,...
34985,97613,NaN,NaN,NaN,NaN
34986,97614,NaN,NaN,NaN,NaN
34987,97615,NaN,NaN,NaN,NaN
34988,97616,NaN,NaN,NaN,NaN
34989,97617,NaN,NaN,NaN,NaN

In [12]:
#Regrouper les taux pour mille des données relatives à la délinquence par classe et par code géographique
new_df = data.groupby(['CODGEO_2023', 'classe'])['tauxpourmille'].sum().unstack().reindex(com)[classe]

In [13]:
cols_to_del = ["Coups et blessures volontaires intrafamiliaux", "Autres coups et blessures volontaires", "Violences sexuelles", "Vols violents sans arme", "Vols sans violence contre des personnes", "Vols dans les véhicules", "Vols d'accessoires sur véhicules", "Usage de stupéfiants"]
new_df = new_df.drop(columns=cols_to_del)

In [14]:
new_df

classe,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
CODGEO_2023,,,,,,
01001,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
01002,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
01004,37.843956,0.000000,39.822540,18.326387,0.0,4.976405
01005,0.000000,0.000000,78.169206,0.000000,0.0,0.000000
01006,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...
97613,25.963930,8.861940,31.392175,7.618159,0.0,0.000000
97614,34.205626,10.781143,28.448948,5.194551,0.0,0.000000
97615,42.300297,8.827128,118.492494,17.479462,0.0,1.747946
97616,23.843672,7.171029,44.138319,11.652922,0.0,0.000000
97617,31.577436,10.549734,37.448347,6.746089,0.0,0.000000

In [15]:
new_df = new_df.reset_index()

In [16]:
new_df.rename(columns={'CODGEO_2023': 'Code géographique'}, inplace=True)

In [17]:
new_df

classe,Code géographique,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
0,01001,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,01002,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,01004,37.843956,0.000000,39.822540,18.326387,0.0,4.976405
3,01005,0.000000,0.000000,78.169206,0.000000,0.0,0.000000
4,01006,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...
34985,97613,25.963930,8.861940,31.392175,7.618159,0.0,0.000000
34986,97614,34.205626,10.781143,28.448948,5.194551,0.0,0.000000
34987,97615,42.300297,8.827128,118.492494,17.479462,0.0,1.747946
34988,97616,23.843672,7.171029,44.138319,11.652922,0.0,0.000000
34989,97617,31.577436,10.549734,37.448347,6.746089,0.0,0.000000

In [18]:
colonnes_a_diviser = ["Coups et blessures volontaires", "Vols avec armes", "Cambriolages de logement", "Vols de véhicules", "Destructions et dégradations volontaires", "Trafic de stupéfiants"]
new_df[colonnes_a_diviser] = new_df[colonnes_a_diviser] / 6

In [19]:
new_df

classe,Code géographique,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
0,01001,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,01002,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,01004,6.307326,0.000000,6.637090,3.054398,0.0,0.829401
3,01005,0.000000,0.000000,13.028201,0.000000,0.0,0.000000
4,01006,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...
34985,97613,4.327322,1.476990,5.232029,1.269693,0.0,0.000000
34986,97614,5.700938,1.796857,4.741491,0.865758,0.0,0.000000
34987,97615,7.050050,1.471188,19.748749,2.913244,0.0,0.291324
34988,97616,3.973945,1.195172,7.356386,1.942154,0.0,0.000000
34989,97617,5.262906,1.758289,6.241391,1.124348,0.0,0.000000

In [33]:
#Exporter leDataframe dans un fichier (.csv)

import os

rep_dir = "E:\Ingénierie 1 EISI\MSPR 1\Projet MSPR Big Data\Datasets\Extraxted Data"
if not os.path.exists(rep_dir):
    os.makedirs(rep_dir)
csv_file_dir = os.path.join(rep_dir, "délinquence_17_22.csv")
new_df.to_csv(csv_file_dir, index=False)

In [34]:
new_df

classe,Code géographique,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
0,01001,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,01002,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,01004,6.307326,0.000000,6.637090,3.054398,0.0,0.829401
3,01005,0.000000,0.000000,13.028201,0.000000,0.0,0.000000
4,01006,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...
34985,97613,4.327322,1.476990,5.232029,1.269693,0.0,0.000000
34986,97614,5.700938,1.796857,4.741491,0.865758,0.0,0.000000
34987,97615,7.050050,1.471188,19.748749,2.913244,0.0,0.291324
34988,97616,3.973945,1.195172,7.356386,1.942154,0.0,0.000000
34989,97617,5.262906,1.758289,6.241391,1.124348,0.0,0.000000