In [1]:
import pandas as pd

delin = pd.read_csv("E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Extraxted Data/délinquence_17_22.csv")
empl = pd.read_csv("E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Extraxted Data/donnees_emploi.csv")
med_niv_vie = pd.read_csv("E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Extraxted Data/mediane_niveau_vie.csv")
taux_p = pd.read_csv("E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Extraxted Data/taux_pauvrete.csv")
part_elu = pd.read_csv("E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Extraxted Data/PartiElu.csv")
part_elu = pd.read_csv("E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Extraxted Data/PartiEluEX.csv")

In [2]:
df = pd.merge(med_niv_vie, empl, on="Code géographique")

In [3]:
df = pd.merge(df, delin, on="Code géographique")
df = pd.merge(df, taux_p, on="Code géographique")
df = pd.merge(df, part_elu, on="Code géographique")

In [4]:
pd.reset_option('display.max_rows', None)
df

,Code géographique,Médiane du niveau vie (€),Taux d'activité des 15-64 ans,Taux d'emploi des 15-64 ans,Taux de chômage des 15-64 ans,Part des ouvriers dans les emplois,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants,Taux de pauvreté-Ensemble (%),Orientation
0,01001,25820,82.146767,76.795054,5.351713,13.591030,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,s,C
1,01002,24480,79.590630,78.142833,1.447797,20.695486,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,s,C
2,01004,21660,76.589365,66.277048,10.312316,24.024257,6.307326,0.000000,6.637090,3.054398,0.0,0.829401,"17,0",EXD
3,01005,24610,81.244522,76.161262,5.083260,11.827352,0.000000,0.000000,13.028201,0.000000,0.0,0.000000,s,EXD
4,01006,24210,70.833333,63.888889,6.944444,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,s,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34804,95676,28540,82.900234,75.351423,7.548811,22.560221,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,s,C
34805,95678,30090,81.799802,76.015038,5.784763,27.358812,0.000000,0.000000,20.587511,0.000000,0.0,0.000000,s,C
34806,95680,16190,69.510790,55.603423,13.907367,20.568541,6.357330,0.201759,9.480884,3.484500,0.0,1.196702,"37,0",EXG
34807,95682,24880,87.603306,80.991736,6.611570,28.415824,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,s,C
34808,95690,31810,82.606650,77.737189,4.869461,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,s,C

In [5]:
df = df.drop(columns='Taux de pauvreté-Ensemble (%)')

In [6]:
df

,Code géographique,Médiane du niveau vie (€),Taux d'activité des 15-64 ans,Taux d'emploi des 15-64 ans,Taux de chômage des 15-64 ans,Part des ouvriers dans les emplois,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants,Orientation
0,01001,25820,82.146767,76.795054,5.351713,13.591030,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,C
1,01002,24480,79.590630,78.142833,1.447797,20.695486,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,C
2,01004,21660,76.589365,66.277048,10.312316,24.024257,6.307326,0.000000,6.637090,3.054398,0.0,0.829401,EXD
3,01005,24610,81.244522,76.161262,5.083260,11.827352,0.000000,0.000000,13.028201,0.000000,0.0,0.000000,EXD
4,01006,24210,70.833333,63.888889,6.944444,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34804,95676,28540,82.900234,75.351423,7.548811,22.560221,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,C
34805,95678,30090,81.799802,76.015038,5.784763,27.358812,0.000000,0.000000,20.587511,0.000000,0.0,0.000000,C
34806,95680,16190,69.510790,55.603423,13.907367,20.568541,6.357330,0.201759,9.480884,3.484500,0.0,1.196702,EXG
34807,95682,24880,87.603306,80.991736,6.611570,28.415824,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,C
34808,95690,31810,82.606650,77.737189,4.869461,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,C

In [7]:
import os

rep_dir = "E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Dataset to train"
if not os.path.exists(rep_dir):
    os.makedirs(rep_dir)
csv_file_dir = os.path.join(rep_dir, "merged_dataset3.csv")
df.to_csv(csv_file_dir, index=False)